
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Помещаем за основной контент */
}

.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
}

.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent red;
}

.pentagon1 {
  top: 20%;
  left: 10%;
  border-bottom: 45px solid red;
}

.pentagon2 {
  top: 50%;
  left: 70%;
  border-bottom: 45px solid red;
}

.pentagon3 {
  top: 70%;
  left: 40%;
  border-bottom: 45px solid red;
}
/* Добавьте другие пятиугольники и стили по необходимости */