
.background-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.falling-elements-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.falling-element {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3498db; /* Цвет фигуры */
  border-radius: 50%;
  transform-origin: center;
  animation: fallingAnimation linear infinite;
}

@keyframes fallingAnimation {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}